body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.Container {
  width: 750px;
  border: solid 3px cadetblue;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.containerTasklist {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 23px;
}

.Header {
  font-size: 45px;
}

.form {
  display: grid;
  grid-template-columns: 35% 55% 10%;
  padding-top: 30px;
  padding-bottom: 5px;
}

.form1,
.form2 {
  display: grid;
  grid-template-columns: 100%;
  padding-right: 5px;
}

.formInputAdd {
  border: solid 1px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 23px;
}

button {
  border: solid 1px gray;
  border-radius: 5px;
}

.textError {
  color: red;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.task {
  display: grid;
  grid-template-columns: 6% 28% 55% 5% 6%;
  align-items: center;
  border: solid 1px cadetblue;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 28px;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.span1 {
  padding-left: 5px;
}

.span2 {
  padding-left: 15px;
}

.edit {
  grid-column: 4;
  line-height: 50%;
  justify-self: center;
  border: azure;
  font-size: 30px;
}

.delete {
  grid-column: 5;
  line-height: 50%;
  border: azure;
  font-size: 30px;
}

.formInput {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  border: solid 1px cadetblue;
  border-radius: 8px;
  margin-bottom: 5px;
}

.inputEdit {
  display: grid;
  grid-template-columns: 100%;
  border-radius: 8px;
  font-size: 25px;
  padding-left: 5px;
}

.editInput {
  height: 35px;
  border: solid 1px;
  border-radius: 8px;
  font-size: 25px;
  padding-left: 5px;
}

.editSave {
  line-height: 50%;
  justify-self: center;
  border: azure;
  font-size: 25px;
}

.Menu {
  display: flex;
  align-items: flex-start;
}

.menu-links>a {
  text-decoration: none;
  margin-right: 8px;
  font-size: 24px;
}

.menu-links>a:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
  margin-right: 0;
  color: cadetblue;

}